<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="tasks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tasks %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
